@using CarRental.Controllers
@using static CarRental.Controllers.ContactController
@model ContactViewModel


<body>

    <div class="container my-5">
        <div class="header text-center">
            <h1>Bizimle İletişime Geçin</h1>
        </div>
        <div class="form-container my-4">
            <h2 class="text-center">İletişim Formu</h2>
            <!-- Message Alert -->
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }
            <!-- Contact Form -->
            <form asp-action="Contact" method="post">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Adınız:</label>
                    <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">E-posta Adresiniz:</label>
                    <input type="email" id="email" name="Email" value="@Model.Email" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="message" class="form-label">Mesajınız:</label>
                    <textarea id="message" name="Message" rows="5" class="form-control" required>@Model.Message</textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>

        </div>
    </div>

</body>


