@model Car




<br />
<br />
<br />
<br />
<br />
<<section id="rental-form" class="container my-5">
    <h2 class="text-center">Kiralama Bilgileri</h2>

    <form asp-action="ConfirmRental" method="post">
        <input type="hidden" name="carId" value="@Model.Id" />

        <div class="mb-3">
            <label for="pickupLocation" class="form-label">Teslim Alınacak Konum</label>
            <input type="text" class="form-control" id="pickupLocation" name="PickupLocation" required />
        </div>

        <div class="mb-3">
            <label for="rentalDate" class="form-label">Teslim Alınacak Tarih</label>
            <input type="datetime-local" class="form-control" id="rentalDate" name="RentalDate" required />
        </div>

        <div class="mb-3">
            <label for="returnDate" class="form-label">Teslim Tarihi</label>
            <input type="datetime-local" class="form-control" id="returnDate" name="ReturnDate" required />
        </div>

        <button type="submit" class="btn btn-success">Kiralama Onayla</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">@ViewBag.Message</div>
    }
    <div class="text-center mt-4">
        <a href="@Url.Action("Index", "Rent")" class="btn btn-success">Kiraladıklarım</a>
    </div>
</section>