@model List<Car>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <form class="row g-3 mb-1" method="post"  action="/Admin/Add" autocomplete="off" enctype="multipart/form-data">
            <label for="Make">Make</label>
            <input type="text" name="model.Make" required placeholder="Make" />

            <label for="Model">Model</label>
            <input type="text" name="model.Model" required placeholder="Model" />

            <label for="Year">Year</label>
            <input type="number" name="model.Year" required placeholder="Year" />

            <label for="DailyRate">DailyRate</label>
            <input type="number" name="model.DailyRate" required placeholder="DailyRate" />

            <label for="IsAvailable">IsAvailable</label>
            <select id="IsAvailable" name="model.IsAvailable">
                <option value="true">Mevcut</option>
                <option value="false">Mevcut Değil</option>
            </select>

            <div class="form-group">
                <label for="Image" class="form-label">Fotoğraf</label>
                <input type="file" name="Image" class="form-control-file" />
            </div>

            <button type="submit" class="btn btn-primary">Ekle</button>

            @if (ViewBag.Message != null)
            {
                <div class="alert @ViewBag.MessageCssClass" role="alert">
                    @ViewBag.Message
                </div>
            }
        </form>
    </div>
</body>
