@model CustomerLoginModel




<br />
<br />
<br />
<br />


@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form id="form1" class="form-group flex-wrap p-3" method="post" action="@Url.Action("Login", "Login")">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div class="form-input col-lg-12 my-4">
        <label for="exampleInputEmail1" class="form-label fs-6 text-uppercase fw-bold text-black">Email Address</label>
        <input type="text" id="exampleInputEmail1" name="email" placeholder="Email" class="form-control ps-3" required>
    </div>
    <div class="form-input col-lg-12 my-4">
        <label for="inputPassword1" class="form-label fs-6 text-uppercase fw-bold text-black">Password</label>
        <input type="password" id="inputPassword1" name="password" placeholder="Password" class="form-control ps-3" required>
        <div id="passwordHelpBlock" class="form-text text-center">
            <a href="/Login/Forgot" class="btn btn-success">Forgot Password?</a>
            <a href="/Login/SignUp" class="btn btn-success">Sign UP</a>
        </div>
    </div>
    <label class="py-3">
        <input type="checkbox" required class="d-inline">
        <span class="label-body text-black">Remember Me</span>
    </label>
    <div class="d-grid my-3">
        <button class="g-recaptcha btn btn-dark text-uppercase fs-6"
                data-sitekey="6LfRHjQqAAAAAGBJRNYS8azjjIRF6Hu-vfQAiAyW"
                data-callback="onSubmit"
                data-action="submit">
            Log In
        </button>
    </div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function onSubmit(token) {
            // Form verilerini ve reCAPTCHA token'ını sunucuya gönder
            var formData = $('#form1').serialize() + '&g-recaptcha-response=' + token;

            $.ajax({
                type: 'POST',
                url: $('#form1').attr('action'),
                data: formData,
                success: function (response) {
                    if (response.success) {
                        window.location.href = '@Url.Action("Index", "Home")';
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

